*.log
*.log.temp
*.cmd

# Mac cache
.DS_Store

# version grab
.comfyui_version

# generation directories
data/*
HF/*
basedir/models/**/*.safetensors
basedir/models/**/*.gguf
basedir/models/**/*.ckpt
basedir/models/**/*.pt
basedir/models/**/*.pth
basedir/models/**/*.bin
basedir/models/**/*.onnx
basedir/models/configs/*
basedir/output/*
basedir/input/*
basedir/user/*
basedir/custom_nodes/*
run/*

buildkitd.toml
.env